body {
    margin: 0;
}

#root {
    height: 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.App {
    display: grid;
    grid-auto-rows: 50px 1fr;
    grid-auto-columns: 1fr 1fr 400px;
    grid-template-areas: 
        'a a a'
        'c c b';
    height: 100%;
}

.Header {
    grid-area: a;
    background-color: black;
    color: whitesmoke;
}

.DocContent {
    grid-area: c;
}

/* DOC NAV STYLING */
.DocNav {
    grid-area: b;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: whitesmoke;
}

.collapsible {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: whitesmoke;
    color: grey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: fixed;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    color: black;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 18px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
  }

  /* ADDS ARROWS NEXT TO COLLAPSIBLE TEXT */
  .collapsible:after {
    content: '\2304' ; /* Unicode character for downward facing arrow */
    font-size: 35px;
    color: grey;
    /* float: right; */
    /* margin-left: 5px; */
  }
  
  .active:after {
    content: "\2303"; /* Unicode character for upward facing arrow */
    font-size: 18px;
    color: grey;
  }
  